
.loader {
  display: flex;
  justify-content: center;
  margin-top: 50vh;
}
.circle {
  border-radius:100vmax;
  display:inline-block;
  height:3vmin;
  opacity:.5;
  width:3vmin;
}
.pulse .circle {
  animation:pulse-1 800ms infinite ease-in-out alternate;
  margin:10 -2vmin;
  transform:scale(0);
}

.circle:nth-of-type(1) {
  background:#f8ed6e;
}
.circle:nth-of-type(2) {
  background:#f8e946;
  animation-delay:100ms;
}
.circle:nth-of-type(3) {
  background:#f6de2b;
  animation-delay:200ms;
}
.circle:nth-of-type(4) {
  background:#fdbe12;
  animation-delay:400ms;
}
.circle:nth-of-type(5) {
  background:#fb9a09;
  animation-delay:500ms;
}
.circle:nth-of-type(6) {
  background:#ff9900;
  animation-delay:600ms;
}
@keyframes pulse-1 {
  25% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}