.chat-logo{
  position: fixed;
  bottom: 20px;
  right: 30px;
}
.chat-logo .logo{
  width: 70px;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50%;
  transition: 3s;
  background-color: azure;
  float: right;
}
.chat-logo .logo:hover{
  transform: scale(1.14);
}
.chat-box{
  /* background-color: orange; */
  background-image: linear-gradient(to bottom,rgb(226,116,57), orange);
  width: 0;
  height: 0;
border-radius: 40px;
margin-bottom: 20px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
transition: 2s;
float: right;
opacity: 0.8;
color: rgb(0, 0, 0);
overflow-x: hidden;
}
.chat-cont p{
  text-align: center;
  font-size: x-large;
  margin-top: 5px;
}
.bobble{
  margin-left: 10px;
  margin-top: 40px;
}
.chat-input{
  margin-left: 40px;
  width: 250px;
  height: 30px;
  border-radius: 50px;
  border: none;
  padding-left: 20px;
  font-size: medium;
}
.chat-btn{
  bottom: 20px;
  width: 50px;
  height: 30px;
  margin-left: 20px;
  border-radius: 50px;
  border: none;
  background-color: green;
}
.message{
  margin-top: 20px;
  padding: 20px;
  /* border-radius: 10px; */
  width: 100%;
}
.bot{
  background-color: aliceblue;
  margin-left: 30px;
  width: fit-content;
  /* border-radius: 10px; */
  float: left;
  margin-right: 10%;
  border-radius: 20px 20px 20px 0px;
}
.user{
  background-color: aliceblue;
  float: right;
  margin-left: 40%;
  width: fit-content;
  margin-right: 30px;
  border-radius: 20px 20px 0px 20px;
}
.chat-input ,.chat-btn{
  margin-top: 30px;
}
.message-dummy{
  margin-top: 20px;
  padding: 20px;
  /* border-radius: 10px; */
  width: 100%;
  background-color: aliceblue;
  margin-left: 30px;
  width: fit-content;
  /* border-radius: 10px; */
  float: left;
  margin-right: 10%;
  border-radius: 20px 20px 20px 0px;
}
.input-container{
  /* margin-top: 400px; */
}
.messages-container{
  height: 400px;
  width: 400px;
  overflow-x: scroll;
  align-content: flex-end;
}