.course-box{
  background-color: whitesmoke;
  
  
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}
.course-bar{
  
  padding-bottom: 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 40px;
}
.course-text{
  font-size: large;
  font-weight: bold;
  margin-left: 60px;
  font-size: x-large;
  width: 20%;
  float: left;
}
.filter-box{
  float: left;
}

.search-box{
  float: right;
 margin-right: 170px;
}
.input-search-box{
  height: 40px;
  width: 300px;
  border-radius: 20px;
  padding-left: 20px;
  font-size: large;
}
.search-button{
  margin-left: 20px;
  height: 40px;
  width: 70px;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(to right,rgb(220,65,49),rgb(226,116,57));
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.filter-box{
  height: 35px;
  margin-bottom: 60px;
  float: right;

  border-radius: 20px;
  font-size: medium;
  margin-right: 170px;
}

.card-footer a {
  cursor: pointer;
  text-decoration: none;
}

.JavaScript-lesson-section {
  
  /* width: 100%; */
  margin-top: 5%;

}
.course-Scroll{
  
  overflow-x: scroll;
  height: 450px;
  width: 100%;


  
}
.header .main-heading {
  font-size: 25px;
  margin: 12px 0;
}

.header .sub-heading {
  font-size: 14px;
  color: #646464;
  font-weight: 500;
}

.tutotrs-role p {
font-weight: 600;
font-size: 15px;
line-height: 1.5;
}

.card-footer p {
  font-size: 14px;
  color: #999494;
  font-family: system-ui;
  font-weight: 500;
    margin-right: 50px;
}

.card-header .card-img-top {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.carousel-container .role>p {
  margin: 10px 0;
  font-size: 15px;
  color: #685656;
  font-weight: bold;
  line-height: 1.5;
}

.carousel-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  transition:3s;
  
}

.carousel-container .courses-card {
  flex-basis: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 157px;
  padding: 16px;
  font-size: 16px;
  border-bottom: 1px solid #ebe0e0;
}

img.card-footer-tutors-img {
  width: 30px;
  border-radius: 50%;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.rating span {
  color: orange;
}

.rating .subscribers {
  font-size: 12px;
  display: inline;
  color: #b1a5a5;
}

.card-footer .fa-bookmark:before {
  content: "\f02e";
  color: #978c8c;
  font-size: 12px;
}

.fad:before {
  position: absolute;
  color: var(--fa-primary-color, inherit);
  color: #6b89b5;
}

.level .fad {
position: relative;

font-weight: 900;
color: blue;
}

.level {
  font-size: 13px;
color:gray;
font-weigth:800;
}

.fa,
.fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  padding: 0 8px;
}
.card-img-top{
  height: 200px;
}
.course-text{
  float: left;
  width: 40%;
}
