/* Original CSS code */

.form{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  width: 600px;
  padding: 20px;
  border-radius: 50px;
  background-color: #ffffff;
  opacity: 0.79;
  height: 80%;
}

.reg-body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/back2.jpeg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 250vh;
}

.form h2 {
  text-align: center;
  margin-bottom: 60px;
}

.form-body input{
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  float: right;
}

.form__label{
  margin-bottom: 20px;
  margin-left: 70px;
}

.form__label label{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form__input{
  width: 7%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn{
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  display: inline;
  text-align: center;
  margin-left: 140px;
  margin-top: 30px;
  background-image: linear-gradient(to right,rgb(220,65,49),rgb(226,116,57));
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  transition: 1s;
}

.btn:hover{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  transform: scale(1.07);
}


@media (max-width: 740px) {
  .form {
    width: 80%;
    padding: 15px;
    
  }

  .form-body input {
    width: 100%;
  }

  .btn {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
 
  .register-form{
    margin-left: 50px;
    margin-right: 50px;
  }
  .form-group{
    margin-left: 0px;
  }
}
@media(max-width:420px){
  .form{
    width: 200px;
  }
}